.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 80vh;
  width: 100%;
}



.example-card {
  position:fixed;
   cursor: move;
  max-width: 400px;
  bottom: 50px;
  right: 50px;
  width: auto;
  height: auto;
  border: 2px solid grey;
  z-index: 9999;
  font-size: 14px;
  background-color: white;
   display: flex;
   flex-flow: column;
   padding-bottom: 10px;
  mat-card-content {
   
    div {
      display: flex;
      align-items: center;
     
    }
  }
}

mat-button-toggle-group {
  margin-left: 12px;
}

mat-button-toggle-group{
  width: max-content;
}

.rotate {
  animation: rotation 1s infinite linear;
    animation-delay: -0.15s;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}